mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  display: flex;
  flex-direction: column; 

  .submit-btn {
    width: 70px;
    height: 40px;
    margin-top: 15px;
    margin-left: 85%;
  }
}


@media (max-width: 540px) {
  .submit-btn {
    width: 70px;
    height: 40px;
    margin-top: 15px;
    margin-left: 85%;
  }
}

