<h1 mat-dialog-title>New Telephone Number</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

<div mat-dialog-content>

  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput type="text" formControlName="firstName" placeholder="Enter you first name here">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput type="text" formControlName="lastName" placeholder="Enter you last name here">
  </mat-form-field>


  <div formArrayName="telephoneNumbers">
    <div *ngFor="let telNumForm of telephoneNumbers.controls; let i = index">
    <mat-form-field [formControlName]="i" appearance="outline" ngDefaultControl>
      <mat-label>Telephone Number</mat-label>
      <input matInput type="text" formControlName="{{i}}" placeholder="Enter you Telephone number here">
      <button mat-flat-button matSuffix aria-label="Example icon button with a plus one icon"
      (click)="onRemoveBtnClick(i)" *ngIf="telephoneNumbers.controls[1]">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    </div>
  </div>

</div>

<mat-dialog-actions>
  
  <button button mat-fab color="primary" aria-label="Example icon button with a plus one icon"(click)="onAddBtnClick()">
    <mat-icon>add</mat-icon>
  </button>
  <button class="submit-btn btn-primary" [disabled]="form.invalid" type="submit">{{actionBtn}}</button>

</mat-dialog-actions>

</form>


  
