$table-width: 35rem;

mat-toolbar {
  display: flex;
  padding: 0 20px;
  margin: 0;
  

  h1 {
    font-size: 25px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  padding-top: 3rem;
}

.container-sm {
  max-width: $table-width;
  margin: 0 auto;
  width: 80vw;
  padding: 10px;
}

h1 {
  text-align: center;
}

mat-form-field {
  font-size: 14px;
  display: inline;
  //max-width: $table-width;
  width: 50vw;
}

.mat-elevation-z8 {    
  overflow-x: auto;
 }