<div class="container">
  <h1>Telephone Numbers</h1>
  <app-form></app-form>
  
  <div class="container-sm">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Telephone Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let idx = index">
          <th scope="row">{{ [idx + 1] }}</th>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.telephoneNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  
</div>

